<!-- <app-navigator></app-navigator>
<router-outlet></router-outlet> -->

<body class="bg-info">
  <app-navigation></app-navigation>
  <div class="container mt-3 mb-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card shadow" @fadeInOut>
          <div class="card-body">
            <app-customer-choice></app-customer-choice>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card shadow" @fadeInOut>
          <div class="card-body">
            <app-reservasi-create></app-reservasi-create>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</body>

<!-- Show Table -->
<!-- <div class="container">
  <h2 class="text-center m-3">User Information</h2>

  <div class="table-responsive">
    <table class="table table-hover table-bordered shadow-sm">
      <thead class="thead-dark table-info text-center">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Website</th>
          <th>Company Name</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.website }}</td>
          <td>{{ user.company.name }}</td>
          <td>
            {{ user.address.street }}, {{ user.address.suite }},
            {{ user.address.city }} - {{ user.address.zipcode }} <br />
            <small
              >Geo: ({{ user.address.geo?.lat }},
              {{ user.address.geo?.lng }})</small
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<!-- App-Todo -->
<!-- <div class="bg-info pb-5 pt-1">
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <app-todos></app-todos>
      </div>
      <div class="col">
        <app-todos [title]="'Trash'" [forTrash]="true"></app-todos>
      </div>
    </div>
  </div>
</div> -->

<!-- Tampilkan Tabel Produk -->
<!-- <div class="card">
  <h1 class="text-center mt-3">Products</h1>

  <div class="table-responsive">
    <table
      class="table table-bordered table-hover shadow-sm mx-auto table-info"
      style="width: 60%"
    >
      <thead class="thead-light text-center">
        <tr>
          <th class="p-3">Title</th>
          <th class="p-3">Stock</th>
          <th class="p-3">Price</th>
          <th class="p-3">Categories</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of products"
          class="text-center"
          [appAttr]="{ isDone: product.stock >= 20, color: 'text-white' }"
        >
          <td class="p-3">{{ product.title }}</td>
          <td class="p-3">{{ product.stock }}</td>
          <td class="p-3">{{ product.price }}</td>
          <td class="p-3">
            <div *ngFor="let category of product.categories">
              <span>{{ category.name }}</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<!-- Form Angular -->
<!-- <div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <form #form="ngForm" (submit)="onSubmit()">
          <div class="card-body">
            <div class="row">
              <div class="form-group mb-3 col">
                <label class="mb-2">Email</label>
                <input
                  class="form-control"
                  type="email"
                  #email="ngModel"
                  name="email"
                  ngModel
                  required
                  email
                  [ngClass]="{
                    'border-success': email.valid,
                  }"
                />
                <app-message-validation [field]="email" [label]="'email'" />
              </div>
              <div class="form-group mb-3 col">
                <label class="mb-2">Username</label>
                <input
                  class="form-control"
                  type="text"
                  #username="ngModel"
                  name="username"
                  ngModel
                  required
                  [maxlength]="10"
                  [minlength]="5"
                  pattern="^[a-zA-Z]+$"
                  [ngClass]="{
                    'border-success': username.valid,
                  }"
                />
                <app-message-validation
                  [field]="username"
                  [label]="'username'"
                />
              </div>
            </div>

            <div class="row mb-3">
              <div class="form-group col">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    ngModel
                    #menikah="ngModel"
                    name="menikah"
                    required
                  />
                  <label class="form-check-label"> Menikah </label>
                </div>

                <div
                  *ngIf="!menikah.valid && (menikah.dirty || menikah.touched)"
                  class="text-helper text-danger"
                >
                  <span *ngIf="menikah.errors!['required']">
                    Menikah is required
                  </span>
                </div>
              </div>

              <div class="form-group col">
                <label>Gender</label>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    ngModel
                    #gender="ngModel"
                    name="gender"
                    required
                    value="pria"
                  />
                  <label class="form-check-label"> Pria </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    ngModel
                    #gender="ngModel"
                    name="gender"
                    required
                    value="wanita"
                  />
                  <label class="form-check-label"> Wanita </label>
                </div>

                <app-message-validation [field]="gender" [label]="'gender'" />
              </div>
            </div>

            <div class="row mb-3">
              <div class="form-group">
                <label class="mb-2">Hobi</label>
                <select
                  class="form-select"
                  name="hobi"
                  required
                  ngModel
                  #hobi="ngModel"
                >
                  <option [ngValue]="null">Open this select hobi</option>
                  <option [ngValue]="1">Berenang</option>
                  <option [ngValue]="2">Mancing</option>
                  <option [ngValue]="3">Tidur</option>
                </select>

                <app-message-validation [field]="hobi" [label]="'hobi'" />
              </div>
            </div>

            <div class="row mb-3" ngModelGroup="address">
              <div class="form-group col">
                <label class="mb-2">City</label>
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  #addressCity="ngModel"
                  ngModel
                  required
                />

                <app-message-validation
                  [field]="addressCity"
                  [label]="'city'"
                />
              </div>

              <div class="form-group col">
                <label class="mb-2">Zip Code</label>
                <input
                  type="text"
                  class="form-control"
                  name="zipCode"
                  ngModel
                  required
                  #addressZipCode="ngModel"
                />

                <app-message-validation
                  [field]="addressZipCode"
                  [label]="'zip code'"
                />
              </div>
            </div>

            <div class="row" ngModelGroup="address">
              <div class="form-group col">
                <label class="mb-2">Street</label>
                <textarea
                  class="form-control"
                  #addressStreet="ngModel"
                  name="street"
                  ngModel
                  required
                ></textarea>
                <app-message-validation
                  [field]="addressStreet"
                  [label]="'street'"
                />
              </div>
            </div>
          </div>

          <div class="card-footer d-flex gap-3">
            <button
              [disabled]="form.invalid"
              class="btn btn-primary"
              type="submit"
            >
              Save
            </button>
            <button
              class="btn btn-secondary"
              (click)="form.reset()"
              type="button"
            >
              Reset
            </button>
            <button class="btn btn-info" (click)="onDefault()" type="button">
              Default
            </button>

            <button
              class="btn btn-info"
              (click)="onChangeAddress()"
              type="button"
            >
              Change Address
            </button>
            <button class="btn btn-info" (click)="onChangeHobi()" type="button">
              Change Hobi
            </button>
            <button
              class="btn btn-secondary"
              (click)="onPatching()"
              type="button"
            >
              Patch Level 1
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<!-- Form Reactive -->
<!-- <app-card>
  <div class="card-body">
    <form [formGroup]="formRF" (submit)="onSubmit()">
      <div class="form-group mb-3">
        <label>Harga</label>
        <input
          type="number"
          name="harga"
          formControlName="harga"
          class="form-control"
        />
        <h5>Harga Total: {{ hargaAfterPPN }}</h5>
        <app-message-validation
          [field]="formRF.get('harga')"
          [label]="'harga'"
        ></app-message-validation>
      </div>
      <div class="form-group mb-3">
        <label>Name</label>
        <input type="text" formControlName="inisial" class="form-control" />
        <app-message-validation
          [field]="formRF.get('inisial')"
          [label]="'Inisial'"
        ></app-message-validation>
      </div>

      <div class="form-group">
        <label>Is Married</label>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="nikah"
          />
        </div>
      </div>
      <div class="form-group">
        <label>Gender</label>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            formControlName="gen"
            value="men"
          />
          <label>Men</label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            formControlName="gen"
            value="women"
          />
          <label>Women</label>
        </div>

        <app-message-validation
          [field]="formRF.get('gen')"
          [label]="'gen'"
        ></app-message-validation>
      </div>
      <div class="form-group">
        <label>Hobi</label>
        <select class="form-control" formControlName="hobi">
          <option [ngValue]="null">Pilih Hobimu</option>
          <option *ngFor="let h of listOfHobi" [ngValue]="h.id">
            {{ h.name }}
          </option>
        </select>
        <app-message-validation
          [field]="formRF.get('hobi')"
          [label]="'hobi'"
        ></app-message-validation>
      </div>
      <h2>Address</h2>
      <div formGroupName="alamat">
        <div class="form-group mb-3">
          <label>City</label>
          <input type="text" class="form-control" formControlName="kota" />
          <app-message-validation
            [field]="formRF.get('alamat')?.get('kota')"
            [label]="'Kota'"
          ></app-message-validation>
        </div>

        <div class="form-group mb-3">
          <label>Street</label>
          <textarea class="form-control" formControlName="jalan"></textarea>
          <app-message-validation
            [field]="formRF.get('alamat')?.get('jalan')"
            [label]="'Jalan'"
          ></app-message-validation>
        </div>

        <div class="form-group mb-3">
          <label>Zip Code</label>
          <input type="text" class="form-control" formControlName="kodepos" />
          <app-message-validation
            [field]="formRF.get('alamat')?.get('kodepos')"
            [label]="'Kodepos'"
          ></app-message-validation>
        </div>
      </div>
      <button
        [disabled]="formRF.invalid"
        type="button"
        (click)="onSubmitFR()"
        class="btn btn-primary mt-3"
      >
        Submit
      </button>
    </form>
  </div>
</app-card> -->

<!-- Form Reactive Blalal -->
<!-- <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-lg p-4 mb-5 bg-white rounded">
        <h2 class="text-center mb-4 text-primary">Program Kasir</h2>
        <form [formGroup]="formRF" (submit)="onSubmit()">
          <!-- Harga Input -->
<!-- <div class="form-group mb-4">
            <label for="harga" class="form-label">Harga</label>
            <input
              type="number"
              id="harga"
              name="harga"
              formControlName="harga"
              class="form-control form-control-lg"
              placeholder="Masukkan harga"
            />
            <app-message-validation
              [field]="formRF.get('harga')"
              [label]="'harga'"
            ></app-message-validation>
          </div> -->

<!-- Diskon Input -->
<!-- <div class="form-group mb-4">
            <label for="diskon" class="form-label">Diskon (%)</label>
            <input
              type="number"
              id="diskon"
              name="diskon"
              formControlName="diskon"
              class="form-control form-control-lg"
              placeholder="Masukkan diskon"
            />
            <app-message-validation
              [field]="formRF.get('diskon')"
              [label]="'diskon'"
            ></app-message-validation>
          </div> -->

<!-- Display Diskon and Harga Total -->
<!-- <div class="mb-4">
            <h5 class="text-muted">
              Diskon: <span class="text-success">{{ diskonData }}</span>
            </h5>
            <h5 class="text-muted">
              Harga Total: <span class="text-success">{{ hargaAfterPPN }}</span>
            </h5>
          </div> -->

<!-- Bayar Input -->
<!-- <div class="form-group mb-4">
            <label for="bayar" class="form-label">Bayar</label>
            <input
              type="number"
              id="bayar"
              name="bayar"
              formControlName="bayar"
              class="form-control form-control-lg"
              placeholder="Masukkan jumlah bayar"
            />
            <app-message-validation
              [field]="formRF.get('bayar')"
              [label]="'bayar'"
            ></app-message-validation>
          </div> -->

<!-- Display Sisa -->
<!-- <div class="mb-4">
            <h5 class="text-muted">
              Sisa: <span class="text-success">{{ sisa }}</span>
            </h5>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<!-- <app-form-builder></app-form-builder> -->

<!-- day one -->
<!-- <app-navigation></app-navigation>
<div class="container mt-5">
  <app-product-detail></app-product-detail>
</div> -->

<!-- <table [border]="1">
  <tbody>
    <tr>
    <th>AppComponent</th>
    <td>count = {{ count }}</td>
    <td>
    <button (click)="up()">UP</button>
    <button (click)="down()">DOWN</button>
    </td>
    </tr>
  </tbody>
</table>
<app-child-present
  [totalCount]="count"
  (countChanged)="handler($event)"></app-child-present> -->

<!-- <app-navigation></app-navigation>
<app-berkas
  [oncom]="counter"
  [product]="product"
  (emit)="handler($event)"
></app-berkas>

<div class="mx-auto text-center shadow p-3 bg-info">
  <h1>Container Component</h1>
  <h3>"{{ counter }}"</h3>
</div> -->
<!-- Latihan -->
<!-- <div class="form-group text-center mt-5">
  <label>Font Size</label>
  <input type="number" [(ngModel)]="fontSize" class="form-control" />
</div>

<div
  (click)="isActive = !isActive"
  [ngStyle]="{ 'fontSize.px': fontSize, color: isActive ? 'blue' : 'gray',  }"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, recusandae,
  illum cum qui voluptates obcaecati sit aut dolorum, vitae sint in! Cumque
  quibusdam nam reiciendis impedit quam a ipsam cupiditate.
</div>

<div [ngStyle]="myObjectClass">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nobis sed
  exercitationem temporibus itaque rerum neque atque amet commodi, eveniet totam
  soluta molestiae minima asperiores debitis aliquid perspiciatis recusandae
  minus.
</div>

<div [ngStyle]="myStyleClass" (click)="onChangeColor()">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, eos?
  Impedit suscipit tempore maiores aliquid voluptates, quas eveniet delectus non
  consequatur vel aliquam officia ratione voluptate vero, corporis dolorum
  laboriosam.
</div>

<div class="text-center me-3">
  <div class="form-group">
    <input type="checkbox" [(ngModel)]="show" />
    Aktifkan
  </div>

  <h1>Cara ngIf 1</h1>
  <h5 *ngIf="show">Show = True</h5>
  <h5 *ngIf="!show">Show = False</h5>

  <h1>Cara ngIf 2</h1>
  <h5 *ngIf="show; else a1">Show = True</h5>
  <ng-template #a1>
    <h5>Show = False</h5>
  </ng-template>

  <h1>Cara ngIf 3</h1>
  <h5 *ngIf="show; then b1; else b2">Show = True</h5>
  <ng-template #b1>
    <h5>Show = True</h5>
  </ng-template>
  <ng-template #b2>
    <h5>Show = False</h5>
  </ng-template>
</div> -->
